---
http_interactions:
- request:
    method: post
    uri: https://api.channeladvisor.com/ChannelAdvisorAPI/v6/ShippingService.asmx
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://api.channeladvisor.com/webservices/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://api.channeladvisor.com/webservices/"
        xmlns:ins1="http://api.channeladvisor.com/datacontracts/ShippingService"><env:Header><ins0:APICredentials><ins0:DeveloperKey>$$DEVELOPER_KEY$$</ins0:DeveloperKey><ins0:Password>$$PASSWORD$$</ins0:Password></ins0:APICredentials></env:Header><env:Body><ins0:GetShippingCarrierList><ins0:accountID>$$ACCOUNT_ID$$</ins0:accountID></ins0:GetShippingCarrierList></env:Body></env:Envelope>
    headers:
      soapaction:
      - ! '"http://api.channeladvisor.com/webservices/GetShippingCarrierList"'
      content-type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      x-servername:
      - RDU-IISWEB-10
      content-type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetShippingCarrierListResponse
        xmlns="http://api.channeladvisor.com/webservices/"><GetShippingCarrierListResult><Status>Success</Status><MessageCode>0</MessageCode><ResultData><ShippingCarrier><CarrierID>2</CarrierID><ClassID>3</ClassID><CarrierName>FedEx</CarrierName><CarrierCode>FEDEX</CarrierCode><ClassCode>GROUND</ClassCode><ClassName>Ground</ClassName></ShippingCarrier><ShippingCarrier><CarrierID>3</CarrierID><ClassID>3</ClassID><CarrierName>UPS</CarrierName><CarrierCode>UPS</CarrierCode><ClassCode>GROUND</ClassCode><ClassName>Ground</ClassName></ShippingCarrier><ShippingCarrier><CarrierID>1</CarrierID><ClassID>1</ClassID><CarrierName>US
        Postal Service</CarrierName><CarrierCode>USPS</CarrierCode><ClassCode>PRIORITY</ClassCode><ClassName>Priority
        Mail</ClassName></ShippingCarrier></ResultData></GetShippingCarrierListResult></GetShippingCarrierListResponse></soap:Body></soap:Envelope>
  recorded_at: Thu, 14 Jun 2012 05:40:48 GMT
recorded_with: VCR 2.2.0
