---
http_interactions:
- request:
    method: get
    uri: https://api.channeladvisor.com/ChannelAdvisorAPI/v6/AdminService.asmx?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      x-servername:
      - RDU-IISWEB-07
      content-type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"http://api.channeladvisor.com/webservices/\"
        xmlns:s=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\"
        xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\" targetNamespace=\"http://api.channeladvisor.com/webservices/\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:types>\r\n    <s:schema
        elementFormDefault=\"qualified\" targetNamespace=\"http://api.channeladvisor.com/webservices/\">\r\n
        \     <s:element name=\"GetAuthorizationList\">\r\n        <s:complexType>\r\n
        \         <s:sequence>\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"localID\" type=\"s:integer\" />\r\n          </s:sequence>\r\n        </s:complexType>\r\n
        \     </s:element>\r\n      <s:element name=\"GetAuthorizationListResponse\">\r\n
        \       <s:complexType>\r\n          <s:sequence>\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"GetAuthorizationListResult\" type=\"tns:APIResultOfArrayOfAuthorizationResponse\"
        />\r\n          </s:sequence>\r\n        </s:complexType>\r\n      </s:element>\r\n
        \     <s:complexType name=\"APIResultOfArrayOfAuthorizationResponse\">\r\n
        \       <s:sequence>\r\n          <s:element minOccurs=\"1\" maxOccurs=\"1\"
        name=\"Status\" type=\"tns:ResultStatus\" />\r\n          <s:element minOccurs=\"1\"
        maxOccurs=\"1\" name=\"MessageCode\" type=\"s:int\" />\r\n          <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"Message\" type=\"s:string\" />\r\n
        \         <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"Data\" type=\"s:string\"
        />\r\n          <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"ResultData\"
        type=\"tns:ArrayOfAuthorizationResponse\" />\r\n        </s:sequence>\r\n
        \     </s:complexType>\r\n      <s:simpleType name=\"ResultStatus\">\r\n        <s:restriction
        base=\"s:string\">\r\n          <s:enumeration value=\"Success\" />\r\n          <s:enumeration
        value=\"Failure\" />\r\n        </s:restriction>\r\n      </s:simpleType>\r\n
        \     <s:complexType name=\"ArrayOfAuthorizationResponse\">\r\n        <s:sequence>\r\n
        \         <s:element minOccurs=\"0\" maxOccurs=\"unbounded\" name=\"AuthorizationResponse\"
        nillable=\"true\" type=\"tns:AuthorizationResponse\" />\r\n        </s:sequence>\r\n
        \     </s:complexType>\r\n      <s:complexType name=\"AuthorizationR[...]
- request:
    method: post
    uri: https://api.channeladvisor.com/ChannelAdvisorAPI/v6/AdminService.asmx
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:web="http://api.channeladvisor.com/webservices/"><soap:Header><web:APICredentials><web:DeveloperKey>$$DEVELOPER_KEY$$</web:DeveloperKey><web:Password>$$PASSWORD$$</web:Password></web:APICredentials></soap:Header><soap:Body><web:RequestAccess><web:localID>00000000</web:localID></web:RequestAccess></soap:Body></soap:Envelope>
    headers:
      soapaction:
      - ! '"http://api.channeladvisor.com/webservices/RequestAccess"'
      content-type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      x-servername:
      - RDU-IISWEB-04
      content-type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><RequestAccessResponse
        xmlns="http://api.channeladvisor.com/webservices/"><RequestAccessResult><Status>Failure</Status><MessageCode>12</MessageCode><Message>No
        ChannelAdvisor Account was found for the specified ID [0]!</Message><ResultData>false</ResultData></RequestAccessResult></RequestAccessResponse></soap:Body></soap:Envelope>
  recorded_at: Wed, 09 May 2012 06:01:13 GMT
recorded_with: VCR 2.1.1
