---
http_interactions:
- request:
    method: post
    uri: https://api.channeladvisor.com/ChannelAdvisorAPI/v6/AdminService.asmx
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:web="http://api.channeladvisor.com/webservices/"><soap:Header><web:APICredentials><web:DeveloperKey>$$DEVELOPER_KEY$$</web:DeveloperKey><web:Password>$$PASSWORD$$</web:Password></web:APICredentials></soap:Header><soap:Body><web:RequestAccess><web:localID>$$LOCAL_ID$$</web:localID></web:RequestAccess></soap:Body></soap:Envelope>
    headers:
      soapaction:
      - ! '"http://api.channeladvisor.com/webservices/RequestAccess"'
      content-type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      x-servername:
      - RDU-IISWEB-06
      content-type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><RequestAccessResponse
        xmlns="http://api.channeladvisor.com/webservices/"><RequestAccessResult><Status>Failure</Status><MessageCode>12</MessageCode><Message>An
        Authorization for the specified ID [$$LOCAL_ID$$] already exists!</Message><ResultData>false</ResultData></RequestAccessResult></RequestAccessResponse></soap:Body></soap:Envelope>
  recorded_at: Mon, 21 May 2012 20:17:49 GMT
recorded_with: VCR 2.1.1
