---
http_interactions:
- request:
    method: post
    uri: https://api.channeladvisor.com/ChannelAdvisorAPI/v6/OrderService.asmx
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://api.channeladvisor.com/webservices/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://api.channeladvisor.com/webservices/"
        xmlns:ins1="http://api.channeladvisor.com/datacontracts/orders"><env:Header><ins0:APICredentials><ins0:DeveloperKey>$$DEVELOPER_KEY$$</ins0:DeveloperKey><ins0:Password>$$PASSWORD$$</ins0:Password></ins0:APICredentials></env:Header><env:Body><ins0:GetOrderList><ins0:accountID>$$ACCOUNT_ID$$</ins0:accountID><ins0:orderCriteria><ins1:OrderCreationFilterBeginTimeGMT
        xsi:nil="true"/><ins1:OrderCreationFilterEndTimeGMT xsi:nil="true"/><ins1:StatusUpdateFilterBeginTimeGMT
        xsi:nil="true"/><ins1:StatusUpdateFilterEndTimeGMT xsi:nil="true"/><ins1:JoinDateFiltersWithOr
        xsi:nil="true"/><ins1:DetailLevel>Extreme</ins1:DetailLevel><ins1:PageNumberFilter
        xsi:nil="true"/><ins1:PageSize xsi:nil="true"/></ins0:orderCriteria></ins0:GetOrderList></env:Body></env:Envelope>
    headers:
      soapaction:
      - ! '"http://api.channeladvisor.com/webservices/GetOrderList"'
      content-type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      x-servername:
      - RDU-IISWEB-06
      content-type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetOrderListResponse
        xmlns="http://api.channeladvisor.com/webservices/"><GetOrderListResult><Status>Failure</Status><MessageCode>12</MessageCode><Message>Extreme
        is not a valid value for DetailLevel</Message></GetOrderListResult></GetOrderListResponse></soap:Body></soap:Envelope>
  recorded_at: Wed, 23 May 2012 18:00:15 GMT
recorded_with: VCR 2.1.1
