---
http_interactions:
- request:
    method: post
    uri: https://api.channeladvisor.com/ChannelAdvisorAPI/v6/OrderService.asmx
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://api.channeladvisor.com/webservices/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://api.channeladvisor.com/webservices/"
        xmlns:ins1="http://api.channeladvisor.com/datacontracts/orders"><env:Header><ins0:APICredentials><ins0:DeveloperKey>$$DEVELOPER_KEY$$</ins0:DeveloperKey><ins0:Password>$$PASSWORD$$</ins0:Password></ins0:APICredentials></env:Header><env:Body><ins0:GetOrderList><ins0:accountID>$$ACCOUNT_ID$$</ins0:accountID><ins0:orderCriteria><ins1:OrderCreationFilterBeginTimeGMT
        xsi:nil="true"/><ins1:OrderCreationFilterEndTimeGMT xsi:nil="true"/><ins1:StatusUpdateFilterBeginTimeGMT
        xsi:nil="true"/><ins1:StatusUpdateFilterEndTimeGMT xsi:nil="true"/><ins1:JoinDateFiltersWithOr
        xsi:nil="true"/><ins1:OrderIDList><ins1:int>14161613</ins1:int></ins1:OrderIDList><ins1:PageNumberFilter
        xsi:nil="true"/><ins1:PageSize xsi:nil="true"/></ins0:orderCriteria></ins0:GetOrderList></env:Body></env:Envelope>
    headers:
      soapaction:
      - ! '"http://api.channeladvisor.com/webservices/GetOrderList"'
      content-type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      x-servername:
      - RDU-IISWEB-04
      content-type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetOrderListResponse
        xmlns="http://api.channeladvisor.com/webservices/"><GetOrderListResult><Status>Success</Status><MessageCode>0</MessageCode><ResultData><OrderResponseItem
        xmlns:q1="http://api.channeladvisor.com/datacontracts/orders" xsi:type="q1:OrderResponseDetailLow"><q1:NumberOfMatches>1</q1:NumberOfMatches><q1:OrderTimeGMT>2012-05-16T15:44:27.683</q1:OrderTimeGMT><q1:LastUpdateDate>2012-05-16T15:44:27.723</q1:LastUpdateDate><q1:TotalOrderAmount>44.9200</q1:TotalOrderAmount><q1:OrderState>Active</q1:OrderState><q1:DateCancelledGMT
        xsi:nil="true" /><q1:OrderID>14161613</q1:OrderID><q1:ClientOrderIdentifier>14161613</q1:ClientOrderIdentifier><q1:SellerOrderID>EFGH5678</q1:SellerOrderID><q1:OrderStatus><q1:CheckoutStatus>NotVisited</q1:CheckoutStatus><q1:CheckoutDateGMT>1900-01-01T00:00:00</q1:CheckoutDateGMT><q1:PaymentStatus>NotSubmitted</q1:PaymentStatus><q1:PaymentDateGMT>1900-01-01T00:00:00</q1:PaymentDateGMT><q1:ShippingStatus>Unshipped</q1:ShippingStatus><q1:ShippingDateGMT>1900-01-01T00:00:00</q1:ShippingDateGMT><q1:OrderRefundStatus>NoRefunds</q1:OrderRefundStatus></q1:OrderStatus></OrderResponseItem></ResultData></GetOrderListResult></GetOrderListResponse></soap:Body></soap:Envelope>
  recorded_at: Wed, 23 May 2012 06:52:59 GMT
recorded_with: VCR 2.1.1
