---
http_interactions:
- request:
    method: post
    uri: https://api.channeladvisor.com/ChannelAdvisorAPI/v6/OrderService.asmx
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://api.channeladvisor.com/webservices/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://api.channeladvisor.com/webservices/"
        xmlns:ins1="http://api.channeladvisor.com/datacontracts/orders"><env:Header><ins0:APICredentials><ins0:DeveloperKey>$$DEVELOPER_KEY$$</ins0:DeveloperKey><ins0:Password>$$PASSWORD$$</ins0:Password></ins0:APICredentials></env:Header><env:Body><ins0:GetOrderList><ins0:accountID>$$ACCOUNT_ID$$</ins0:accountID><ins0:orderCriteria><ins1:OrderCreationFilterBeginTimeGMT
        xsi:nil="true"/><ins1:OrderCreationFilterEndTimeGMT xsi:nil="true"/><ins1:StatusUpdateFilterBeginTimeGMT
        xsi:nil="true"/><ins1:StatusUpdateFilterEndTimeGMT xsi:nil="true"/><ins1:JoinDateFiltersWithOr
        xsi:nil="true"/><ins1:PageNumberFilter xsi:nil="true"/><ins1:PageSize xsi:nil="true"/></ins0:orderCriteria></ins0:GetOrderList></env:Body></env:Envelope>
    headers:
      soapaction:
      - ! '"http://api.channeladvisor.com/webservices/GetOrderList"'
      content-type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      x-servername:
      - RDU-IISWEB-10
      content-type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetOrderListResponse
        xmlns="http://api.channeladvisor.com/webservices/"><GetOrderListResult><Status>Success</Status><MessageCode>0</MessageCode><ResultData><OrderResponseItem
        xmlns:q1="http://api.channeladvisor.com/datacontracts/orders" xsi:type="q1:OrderResponseDetailLow"><q1:NumberOfMatches>2</q1:NumberOfMatches><q1:OrderTimeGMT>2012-05-16T15:44:27.683</q1:OrderTimeGMT><q1:LastUpdateDate>2012-05-16T15:44:27.723</q1:LastUpdateDate><q1:TotalOrderAmount>44.9200</q1:TotalOrderAmount><q1:OrderState>Active</q1:OrderState><q1:DateCancelledGMT
        xsi:nil="true" /><q1:OrderID>14161613</q1:OrderID><q1:ClientOrderIdentifier>14161613</q1:ClientOrderIdentifier><q1:SellerOrderID>EFGH5678</q1:SellerOrderID><q1:OrderStatus><q1:CheckoutStatus>NotVisited</q1:CheckoutStatus><q1:CheckoutDateGMT>1900-01-01T00:00:00</q1:CheckoutDateGMT><q1:PaymentStatus>NotSubmitted</q1:PaymentStatus><q1:PaymentDateGMT>1900-01-01T00:00:00</q1:PaymentDateGMT><q1:ShippingStatus>Unshipped</q1:ShippingStatus><q1:ShippingDateGMT>1900-01-01T00:00:00</q1:ShippingDateGMT><q1:OrderRefundStatus>NoRefunds</q1:OrderRefundStatus></q1:OrderStatus></OrderResponseItem><OrderResponseItem
        xmlns:q2="http://api.channeladvisor.com/datacontracts/orders" xsi:type="q2:OrderResponseDetailLow"><q2:NumberOfMatches>2</q2:NumberOfMatches><q2:OrderTimeGMT>2012-05-16T17:34:34.4</q2:OrderTimeGMT><q2:LastUpdateDate>2012-05-16T17:34:34.413</q2:LastUpdateDate><q2:TotalOrderAmount>17.9700</q2:TotalOrderAmount><q2:OrderState>Active</q2:OrderState><q2:DateCancelledGMT
        xsi:nil="true" /><q2:OrderID>14162751</q2:OrderID><q2:ClientOrderIdentifier>14162751</q2:ClientOrderIdentifier><q2:SellerOrderID>ABCD1234</q2:SellerOrderID><q2:OrderStatus><q2:CheckoutStatus>NotVisited</q2:CheckoutStatus><q2:CheckoutDateGMT>1900-01-01T00:00:00</q2:CheckoutDateGMT><q2:PaymentStatus>NotSubmitted</q2:PaymentStatus><q2:PaymentDateGMT>1900-01-01T00:00:00</q2:PaymentDateGMT><q2:ShippingStatus>Unshipped</q2:ShippingStatus><q2:ShippingDateGMT>1900-01-01T00:00:00</q2:ShippingDateGMT><q2:OrderRefundStatus>NoRefunds</q2:OrderRefundStatus></q2:OrderStatus></OrderResponseItem></ResultData></GetOrderListResult></GetOrderListResponse></soap:Body></soap:Envelope>
  recorded_at: Wed, 23 May 2012 02:38:20 GMT
recorded_with: VCR 2.1.1
