---
http_interactions:
- request:
    method: get
    uri: https://api.channeladvisor.com/ChannelAdvisorAPI/v6/ShippingService.asmx?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      x-servername:
      - RDU-IISWEB-07
      content-type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"http://api.channeladvisor.com/webservices/\"
        xmlns:s1=\"http://api.channeladvisor.com/datacontracts/ShippingService\" xmlns:s=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\" xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\"
        targetNamespace=\"http://api.channeladvisor.com/webservices/\" xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n
        \ <wsdl:types>\r\n    <s:schema elementFormDefault=\"qualified\" targetNamespace=\"http://api.channeladvisor.com/webservices/\">\r\n
        \     <s:import namespace=\"http://api.channeladvisor.com/datacontracts/ShippingService\"
        />\r\n      <s:element name=\"GetShippingRateList\">\r\n        <s:complexType>\r\n
        \         <s:sequence>\r\n            <s:element minOccurs=\"1\" maxOccurs=\"1\"
        name=\"accountID\" nillable=\"true\" type=\"s:string\" />\r\n            <s:element
        minOccurs=\"1\" maxOccurs=\"1\" name=\"cartID\" type=\"s:int\" />\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"street\" type=\"s:string\" />\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"city\" type=\"s:string\" />\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=[...]
- request:
    method: post
    uri: https://api.channeladvisor.com/ChannelAdvisorAPI/v6/ShippingService.asmx
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://api.channeladvisor.com/webservices/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://api.channeladvisor.com/webservices/"
        xmlns:ins1="http://api.channeladvisor.com/datacontracts/ShippingService"><env:Header><ins0:APICredentials><ins0:DeveloperKey>$$DEVELOPER_KEY$$</ins0:DeveloperKey><ins0:Password>$$PASSWORD$$</ins0:Password></ins0:APICredentials></env:Header><env:Body><ins0:SubmitOrderShipmentList><ins0:accountID>$$ACCOUNT_ID$$</ins0:accountID><ins0:ShipmentList><ins0:ShipmentList><ins0:OrderShipment><ins0:OrderId>0</ins0:OrderId><ins0:ClientOrderIdentifier>ABCD1234</ins0:ClientOrderIdentifier><ins0:ShipmentType>Full</ins0:ShipmentType><ins0:FullShipment><ins0:dateShippedGMT>2012-05-19T00:00:00+00:00</ins0:dateShippedGMT><ins0:carrierCode>UPS</ins0:carrierCode><ins0:classCode>GND</ins0:classCode><ins0:trackingNumber>1ZABCE09813473497</ins0:trackingNumber><ins0:sellerFulfillmentID>999999</ins0:sellerFulfillmentID><ins0:shipmentCost>5.99</ins0:shipmentCost><ins0:shipmentTaxCost>1.99</ins0:shipmentTaxCost><ins0:insuranceCost>2.99</ins0:insuranceCost></ins0:FullShipment></ins0:OrderShipment></ins0:ShipmentList></ins0:ShipmentList></ins0:SubmitOrderShipmentList></env:Body></env:Envelope>
    headers:
      soapaction:
      - ! '"http://api.channeladvisor.com/webservices/SubmitOrderShipmentList"'
      content-type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      x-servername:
      - RDU-IISWEB-07
      content-type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><SubmitOrderShipmentListResponse
        xmlns="http://api.channeladvisor.com/webservices/"><SubmitOrderShipmentListResult><Status>Failure</Status><MessageCode>0</MessageCode><ResultData><ShipmentResponse><Success
        xmlns="http://api.channeladvisor.com/datacontracts/ShippingService">false</Success><Message
        xmlns="http://api.channeladvisor.com/datacontracts/ShippingService">You did something dumb!</Message></ShipmentResponse></ResultData></SubmitOrderShipmentListResult></SubmitOrderShipmentListResponse></soap:Body></soap:Envelope>
  recorded_at: Wed, 13 Jun 2012 15:30:10 GMT
recorded_with: VCR 2.2.1
