---
http_interactions:
- request:
    method: post
    uri: https://api.channeladvisor.com/ChannelAdvisorAPI/v6/AdminService.asmx
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:web="http://api.channeladvisor.com/webservices/"><soap:Header><web:APICredentials><web:DeveloperKey>WRONG</web:DeveloperKey><web:Password>$$PASSWORD$$</web:Password></web:APICredentials></soap:Header><soap:Body><web:Ping/></soap:Body></soap:Envelope>
    headers:
      soapaction:
      - ! '"http://api.channeladvisor.com/webservices/Ping"'
      content-type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      x-servername:
      - RDU-IISWEB-04
      content-type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<soap:Envelope xmlns:soap='http://schemas.xmlsoap.org/soap/envelope/'>\r\n
        \                          <soap:Body>\r\n                              <soap:Fault>\r\n
        \                                <faultcode>soap:Server</faultcode>\r\n                                 <faultstring>Server
        was unable to process request. Authentication failed.</faultstring>\r\n                                 <detail/>\r\n
        \                             </soap:Fault>\r\n                           </soap:Body>\r\n
        \                       </soap:Envelope>"
  recorded_at: Mon, 21 May 2012 15:55:49 GMT
recorded_with: VCR 2.1.1
