---
http_interactions:
- request:
    method: get
    uri: https://api.channeladvisor.com/ChannelAdvisorAPI/v6/InventoryService.asmx?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      x-servername:
      - RDU-IISWEB-06
      content-type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"http://api.channeladvisor.com/webservices/\"
        xmlns:s=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\"
        xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\" targetNamespace=\"http://api.channeladvisor.com/webservices/\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:types>\r\n    <s:schema
        elementFormDefault=\"qualified\" targetNamespace=\"http://api.channeladvisor.com/webservices/\">\r\n
        \     <s:element name=\"DoesSkuExist\">\r\n        <s:complexType>\r\n          <s:sequence>\r\n
        \           <s:element minOccurs=\"1\" maxOccurs=\"1\" name=\"accountID\"
        nillable=\"true\" type=\"s:string\" />\r\n            <s:element minOccurs=\"1\"
        maxOccurs=\"1\" name=\"sku\" nillable=\"true\" type=\"s:string\" />\r\n          </s:sequence>\r\n
        \       </s:complexType>\r\n      </s:element>\r\n      <s:element name=\"DoesSkuExistResponse\">\r\n
        \       <s:complexType>\r\n          <s:sequence>\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"DoesSkuExistResult\" type=\"tns:APIResultOfBoolean\"
        />\r\n          </s:sequence>\r\n        </s:complexType>\r\n      </s:element>\r\n
        \     <s:complexType name=\"APIResultOfBoolean\">\r\n        <s:sequence>\r\n
        \         <s:element minOccurs=\"1\" maxOccurs=\"1\" name=\"Status\" type=\"tns:ResultStatus\"
        />\r\n          <s:element minOccurs=\"1\" maxOccurs=\"1\" name=\"MessageCode\"
        type=\"s:int\" />\r\n          <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"Message\" type=\"s:string\" />\r\n          <s:element minOccurs=\"0\"
        maxOccurs=\"1\" name=\"Data\" type=\"s:string\" />\r\n          <s:element
        minOccurs=\"1\" maxOccurs=\"1\" name=\"ResultData\" type=\"s:boolean\" />\r\n
        \       </s:sequence>\r\n      </s:complexType>\r\n      <s:simpleType name=\"ResultStatus\">\r\n
        \       <s:restriction base=\"s:string\">\r\n          <s:enumeration value=\"Success\"
        />\r\n          <s:enumeration value=\"Failure\" />\r\n        </s:restriction>\r\n
        \     </s:simpleType>\r\n      <s:element name=\"APICredentials\" type=\"tns:APICredentials\"
        />\r\n      <s:complexType name=\"APICredentials\">\r\n        <s:sequence>\r\n
        \         <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"DeveloperKey\"
        type=\"s:string\" />\r\n          <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"Password\" type=\[...]
- request:
    method: post
    uri: https://api.channeladvisor.com/ChannelAdvisorAPI/v6/InventoryService.asmx
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://api.channeladvisor.com/webservices/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://api.channeladvisor.com/webservices/"><env:Header><ins0:APICredentials><ins0:DeveloperKey>$$DEVELOPER_KEY$$</ins0:DeveloperKey><ins0:Password>$$PASSWORD$$</ins0:Password></ins0:APICredentials></env:Header><env:Body><ins0:Ping></ins0:Ping></env:Body></env:Envelope>
    headers:
      soapaction:
      - ! '"http://api.channeladvisor.com/webservices/Ping"'
      content-type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      x-servername:
      - RDU-IISWEB-09
      content-type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><PingResponse
        xmlns="http://api.channeladvisor.com/webservices/"><PingResult><Status>Success</Status><MessageCode>0</MessageCode><ResultData>OK</ResultData></PingResult></PingResponse></soap:Body></soap:Envelope>
  recorded_at: Fri, 15 Jun 2012 22:58:02 GMT
recorded_with: VCR 2.2.1
