---
http_interactions:
- request:
    method: post
    uri: https://api.channeladvisor.com/ChannelAdvisorAPI/v6/InventoryService.asmx
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://api.channeladvisor.com/webservices/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://api.channeladvisor.com/webservices/"><env:Header><ins0:APICredentials><ins0:DeveloperKey>$$DEVELOPER_KEY$$</ins0:DeveloperKey><ins0:Password>$$PASSWORD$$</ins0:Password></ins0:APICredentials></env:Header><env:Body><ins0:UpdateInventoryItemQuantityAndPriceList></ins0:UpdateInventoryItemQuantityAndPriceList></env:Body></env:Envelope>
    headers:
      soapaction:
      - ! '"http://api.channeladvisor.com/webservices/UpdateInventoryItemQuantityAndPriceList"'
      content-type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      x-servername:
      - RDU-IISWEB-11
      content-type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><UpdateInventoryItemQuantityAndPriceListResponse
        xmlns="http://api.channeladvisor.com/webservices/"><UpdateInventoryItemQuantityAndPriceListResult><Status>Failure</Status><MessageCode>1</MessageCode><Message>No
        Items were specified!</Message></UpdateInventoryItemQuantityAndPriceListResult></UpdateInventoryItemQuantityAndPriceListResponse></soap:Body></soap:Envelope>
  recorded_at: Fri, 15 Jun 2012 05:57:11 GMT
[...]
