---
http_interactions:
- request:
    method: post
    uri: https://api.channeladvisor.com/ChannelAdvisorAPI/v6/OrderService.asmx
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:web="http://api.channeladvisor.com/webservices/" xmlns:ord="http://api.channeladvisor.com/datacontracts/orders"><soap:Header><web:APICredentials><web:DeveloperKey>$$DEVELOPER_KEY$$</web:DeveloperKey><web:Password>$$PASSWORD$$</web:Password></web:APICredentials></soap:Header><soap:Body><web:Ping/></soap:Body></soap:Envelope>
    headers:
      soapaction:
      - ! '"http://api.channeladvisor.com/webservices/Ping"'
      content-type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: <%= code %>
      message: <%= message %>
    headers:
      x-servername:
      - RDU-IISWEB-07
      content-type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <html><head><title><%= message %></title></head><body><%= message %></body></html>
  recorded_at: Tue, 22 May 2012 06:07:17 GMT
recorded_with: VCR 2.1.1
