---
http_interactions:
- request:
    method: post
    uri: https://api.channeladvisor.com/ChannelAdvisorAPI/v6/InventoryService.asmx
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://api.channeladvisor.com/webservices/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://api.channeladvisor.com/webservices/"><env:Header><ins0:APICredentials><ins0:DeveloperKey>$$DEVELOPER_KEY$$</ins0:DeveloperKey><ins0:Password>$$PASSWORD$$</ins0:Password></ins0:APICredentials></env:Header><env:Body><ins0:UpdateInventoryItemQuantityAndPriceList><ins0:accountID>$$ACCOUNT_ID$$</ins0:accountID><ins0:itemQuantityAndPriceList><ins0:InventoryItemQuantityAndPrice><ins0:Sku>FAKE001</ins0:Sku><ins0:QuantityInfo><ins0:UpdateType>Absolute</ins0:UpdateType><ins0:Total>5000</ins0:Total></ins0:QuantityInfo><ins0:PriceInfo><ins0:Cost>2.99</ins0:Cost><ins0:RetailPrice>11.99</ins0:RetailPrice><ins0:StartingPrice>5.99</ins0:StartingPrice><ins0:ReservePrice>7.99</ins0:ReservePrice><ins0:TakeItPrice>9.99</ins0:TakeItPrice><ins0:SecondChanceOfferPrice>8.99</ins0:SecondChanceOfferPrice><ins0:StorePrice>9.49</ins0:StorePrice></ins0:PriceInfo></ins0:InventoryItemQuantityAndPrice><ins0:InventoryItemQuantityAndPrice><ins0:Sku>FAKE002</ins0:Sku><ins0:QuantityInfo><ins0:UpdateType>Absolute</ins0:UpdateType><ins0:Total>7500</ins0:Total></ins0:QuantityInfo><ins0:PriceInfo><ins0:Cost>3.99</ins0:Cost><ins0:RetailPrice>10.99</ins0:RetailPrice><ins0:StartingPrice>4.99</ins0:StartingPrice><ins0:ReservePrice>7.99</ins0:ReservePrice><ins0:TakeItPrice>8.99</ins0:TakeItPrice><ins0:SecondChanceOfferPrice>6.99</ins0:SecondChanceOfferPrice><ins0:StorePrice>8.49</ins0:StorePrice></ins0:PriceInfo></ins0:InventoryItemQuantityAndPrice></ins0:itemQuantityAndPriceList></ins0:UpdateInventoryItemQuantityAndPriceList></env:Body></env:Envelope>
    headers:
      soapaction:
      - ! '"http://api.channeladvisor.com/webservices/UpdateInventoryItemQuantityAndPriceList"'
      content-type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      x-servername:
      - RDU-IISWEB-03
      content-type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><UpdateInventoryItemQuantityAndPriceListResponse
        xmlns="http://api.channeladvisor.com/webservices/"><UpdateInventoryItemQuantityAndPriceListResult><Status>Success</Status><MessageCode>0</MessageCode><ResultData><UpdateInventoryItemResponse><Sku>FAKE001</Sku><Result>true</Result></UpdateInventoryItemResponse><UpdateInventoryItemResponse><Sku>FAKE002</Sku><Result>true</Result></UpdateInventoryItemResponse></ResultData></UpdateInventoryItemQuantityAndPriceListResult></UpdateInventoryItemQuantityAndPriceListResponse></soap:Body></soap:Envelope>
  recorded_at: Tue, 19 Jun 2012 03:02:41 GMT
recorded_with: VCR 2.2.1
