---
http_interactions:
- request:
    method: post
    uri: https://api.channeladvisor.com/ChannelAdvisorAPI/v6/OrderService.asmx
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://api.channeladvisor.com/webservices/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://api.channeladvisor.com/webservices/"
        xmlns:ins1="http://api.channeladvisor.com/datacontracts/orders"><env:Header><ins0:APICredentials><ins0:DeveloperKey>$$DEVELOPER_KEY$$</ins0:DeveloperKey><ins0:Password>$$PASSWORD$$</ins0:Password></ins0:APICredentials></env:Header><env:Body><ins0:SetOrdersExportStatus><ins0:accountID>$$ACCOUNT_ID$$</ins0:accountID><ins0:clientOrderIdentifiers><ins0:string>14162751</ins0:string></ins0:clientOrderIdentifiers><ins0:markAsExported>true</ins0:markAsExported></ins0:SetOrdersExportStatus></env:Body></env:Envelope>
    headers:
      soapaction:
      - ! '"http://api.channeladvisor.com/webservices/SetOrdersExportStatus"'
      content-type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      x-servername:
      - RDU-IISWEB-09
      content-type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><SetOrdersExportStatusResponse
        xmlns="http://api.channeladvisor.com/webservices/"><SetOrdersExportStatusResult><Status>Failure</Status><MessageCode><%= code %></MessageCode><Message><%= message %></Message><ResultData>false</ResultData></SetOrdersExportStatusResult></SetOrdersExportStatusResponse></soap:Body></soap:Envelope>
  recorded_at: Thu, 24 May 2012 04:08:16 GMT
recorded_with: VCR 2.1.1
