---
http_interactions:
- request:
    method: get
    uri: https://api.channeladvisor.com/ChannelAdvisorAPI/v6/OrderService.asmx?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      x-servername:
      - RDU-IISWEB-07
      content-type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"http://api.channeladvisor.com/webservices/\"
        xmlns:s1=\"http://api.channeladvisor.com/datacontracts/orders\" xmlns:s=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\" xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\"
        targetNamespace=\"http://api.channeladvisor.com/webservices/\" xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n
        \ <wsdl:types>\r\n    <s:schema elementFormDefault=\"qualified\" targetNamespace=\"http://api.channeladvisor.com/webservices/\">\r\n
        \     <s:import namespace=\"http://api.channeladvisor.com/datacontracts/orders\"
        />\r\n      <s:element name=\"SetOrdersExportStatus\">\r\n        <s:complexType>\r\n
        \         <s:sequence>\r\n            <s:element minOccurs=\"1\" maxOccurs=\"1\"
        name=\"accountID\" nillable=\"true\" type=\"s:string\" />\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"clientOrderIdentifiers\" type=\"tns:ArrayOfString\"
        />\r\n            <s:element minOccurs=\"1\" maxOccurs=\"1\" name=\"markAsExported\"
        type=\"s:boolean\" />\r\n          </s:sequence>\r\n        </s:complexType>\r\n
        \     </s:element>\r\n      <s:complexType name=\"ArrayOfStr[...]
- request:
    method: post
    uri: https://api.channeladvisor.com/ChannelAdvisorAPI/v6/OrderService.asmx
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:web="http://api.channeladvisor.com/webservices/" xmlns:ord="http://api.channeladvisor.com/datacontracts/orders"><soap:Header><web:APICredentials><web:DeveloperKey>$$DEVELOPER_KEY$$</web:DeveloperKey><web:Password>$$PASSWORD$$</web:Password></web:APICredentials></soap:Header><soap:Body><web:SetOrdersExportStatus><web:accountID>$$ACCOUNT_ID$$</web:accountID><web:clientOrderIdentifiers><web:string>ABCD1234</web:string><web:string>EFGH5678</web:string></web:clientOrderIdentifiers><web:markAsExported>true</web:markAsExported></web:SetOrdersExportStatus></soap:Body></soap:Envelope>
    headers:
      soapaction:
      - ! '"http://api.channeladvisor.com/webservices/SetOrdersExportStatus"'
      content-type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      x-servername:
      - RDU-IISWEB-05
      content-type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><SetOrdersExportStatusResponse
        xmlns="http://api.channeladvisor.com/webservices/"><SetOrdersExportStatusResult><Status>Success</Status><MessageCode>0</MessageCode><ResultData><boolean>false</boolean><boolean>false</boolean></ResultData></SetOrdersExportStatusResult></SetOrdersExportStatusResponse></soap:Body></soap:Envelope>
  recorded_at: Thu, 17 May 2012 23:22:44 GMT
recorded_with: VCR 2.1.1
