---
http_interactions:
- request:
    method: post
    uri: https://api.channeladvisor.com/ChannelAdvisorAPI/v6/ShippingService.asmx
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://api.channeladvisor.com/webservices/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://api.channeladvisor.com/webservices/"
        xmlns:ins1="http://api.channeladvisor.com/datacontracts/ShippingService"><env:Header><ins0:APICredentials><ins0:DeveloperKey>$$DEVELOPER_KEY$$</ins0:DeveloperKey><ins0:Password>wrong
        password</ins0:Password></ins0:APICredentials></env:Header><env:Body><ins0:Ping></ins0:Ping></env:Body></env:Envelope>
    headers:
      soapaction:
      - ! '"http://api.channeladvisor.com/webservices/Ping"'
      content-type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      x-servername:
      - RDU-IISWEB-06
      content-type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<soap:Envelope xmlns:soap='http://schemas.xmlsoap.org/soap/envelope/'>\r\n
        \                          <soap:Body>\r\n                              <soap:Fault>\r\n
        \                                <faultcode>soap:Server</faultcode>\r\n                                 <faultstring>Server
        was unable to process request. Authentication failed.</faultstring>\r\n                                 <detail/>\r\n
        \                             </soap:Fault>\r\n                           </soap:Body>\r\n
        \                       </soap:Envelope>"
  recorded_at: Mon, 11 Jun 2012 17:00:41 GMT
recorded_with: VCR 2.2.0
